{% extends 'base.html' %}

{% block title %}
Equipment
{% endblock title %}

{% block nav %}
			  <li class="active"><a href="/start">Getting Started</a></li>
			  <li><a href="/recipe">Recipes</a></li>
              <li><a href="/create">Create a Recipe</a></li>
{% endblock nav %}

{% block scripts %}
	<script>
        $('[data-toggle="tooltip"]').tooltip({'placement': 'top'});
	</script>
{% endblock scripts %}


{% block content %}
<h2 class="">Equipment</h2>
<div class="container"></div>
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="brew pot">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="sauce pan">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="brew bag">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="colander">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="measuring jug">&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container"></div>
<br class="">
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="pots">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="fermentation bucket">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="airlock">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="yeast starter jar">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="scales">&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container"></div>
<br class="">
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="record sheet">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="syphon">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="sieve">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="sanitiser">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="bottle tops">&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container"></div>
<br class="">
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="plastic bottles">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="beer bottles">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="spray bottle">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="stirring spoon">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="thermometer">&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container"></div>
<br class="">
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="hydrometer">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="bottle brush">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="bottle capper">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="hammer">&nbsp;&nbsp;&nbsp;&nbsp;
<img src="http://placehold.it/150x100" class="img-responsive col-md-2" data-toggle="tooltip" title="scrubbing brush">&nbsp;&nbsp;&nbsp;&nbsp;
<div class="container droppedHover"></div>
<br class="">
{% endblock content %}