{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="jumbotron well">
	<h2>Create Recipe</h2>
</div>
<hr>

<div class="panel panel-default">
		<div class="panel-body">
<h3>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h3><hr>

<form action="" method="post">{% csrf_token %}

<table class="table table-bordered">
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>

{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-default" type="submit" value="{{ wizard.steps.prev }}">{% trans "Back" %}</button>
{% endif %}
<input type="submit" class="btn btn-default" value="{% trans "Next" %}"/>

</form>
</div>
</div>
{% endblock %}