{% extends 'base.html' %}

{% block title %}
{{ recipe.name }}
{% endblock title %}

{% block nav %}
              <li><a href="/start">Getting Started</a></li>
              <li class="active"><a href="/recipe">Recipes</a></li>
              <li><a href="/create">Create a Recipe</a></li>
{% endblock nav %}

{% block content %}
    <div class="jumbotron well">
        <h2>{{ recipe.name }}</h2>
        <span class="label label-success">{{ recipe.get_type_display }}</span>
        <span class="label label-primary">{{ recipe.get_subtype_display }}</span>
        {% if recipe.default %}
        <span class="label label-error">Default Recipe</span>
        {% endif %}

        <a href="{% url 'brewmaster' recipe.id %}" class="btn btn-small btn-warning" role="button">Brew it now!</a>
    </div>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Malt</li>
                {% for malt in recipe.maltil_set.all %}
                <li class="list-group-item">
                    <span class="badge">{{ malt.amount }}</span>
                    {{ malt.name }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Hop</li>
                {% for hop in recipe.hopsil_set.all %}
                <li class="list-group-item">
                    <span class="badge">{{ hop.amount }}</span>
                    {{ hop.name }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active">Yeast</li>
                {% for yeast in recipe.yeastil_set.all %}
                <li class="list-group-item">
                    <span class="badge">{{ yeast.pitchrate }}</span>
                    {{ yeast.name }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}