{% extends 'base.html' %}

{% block title %}
All recipes
{% endblock title %}

{% block content %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">All Recipes</h3>
			</div>
			<div class="panel-body">
				Choose from all kinds of recipes we have. (Add more recipes for the list)
			</div>

			<!-- List group -->
			<ul class="list-group">
		    {% for recipe in recipes %}
		        <li class="list-group-item"><a href={% url 'view_recipe' recipe.id %}>{{ recipe.name }}</a></li>
		    {% endfor %}
		    </ul>
        </div>
{% endblock content %}