{% extends 'base.html' %}

{% block title %}
All recipes
{% endblock title %}

{% block nav %}
              <li><a href="/start">Getting Started</a></li>
              <li class="active"><a href="/recipe">Recipes</a></li>
              <li><a href="/create">Create a Recipe</a></li>
{% endblock nav %}

{% block content %}
	<div class="jumbotron well">
		<h2>All Recipes</h2>
		<p>Choose from all kinds of recipes we have. (Add more recipes for the list)</p>
	</div>

	<div class="row" style="padding-top: 15px">
		{% load staticfiles %}
		{% for recipe in recipes %}
		<div class="col-md-3 col-offset-1">
			<div class="thumbnail">
				<img src="../static/bottle-silhouette.png" alt="..." width="242ox" height="200px">
				<div class="caption">
					<h4>{{ recipe.name }}</h4>
					<p><span class="label label-warning">{{ recipe.get_type_display }}</span>
					<span class="label label-danger">{{ recipe.get_subtype_display }}</p>
					<p>
						<a href="{% url 'view_recipe' recipe.id %}" class="btn btn-default" role="button">View</a>
						<a href="{% url 'brewmaster' recipe.id %}" class="btn btn-primary" role="button">Brew!</a>
					</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}