<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title  %}Brew-Ru{% endblock title %}</title>

    <!-- Latest compiled and minified Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% block style %}

    {% endblock style %}
</head>
<body>
    {% block nav %}

    {% endblock nav %}

    {% block content %}

    {% endblock content %}



    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block scripts %}

    {% endblock scripts %}
</body>
</html>