<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title  %}Brew-Ru{% endblock title %}</title>

    <!-- Latest compiled and minified Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  
    <!-- Common style sheet -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "common.css" %}">
    <link rel="stylesheet" href="{% static "countdowns/jquery.countdown.css" %}">

    {% block style %}
    {% endblock style %}
</head>
<body>
    <div class="container">

        <!-- Static navbar -->
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BrewRu</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
    {% block nav %}
              <li><a href="/start">Getting Started</a></li>
              <li><a href="/recipe">Recipes</a></li>
              <li><a href="/create">Create a Recipe</a></li>
    {% endblock nav %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Log in</a></li>
              <li><a href="#">Register</a></li>
            </ul>
          </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>

    {% block content %}
        <div class="jumbotron">
            <h1>BrewRU</h1>
            <p>If you're new to brewing, choose "Getting Started". To Brew a recipe, choose "Recipes". And to create a new recipe, choose "Create a recipe".</p>
            <p>
                <a class="btn btn-lg btn-danger" href="/start" role="button">Getting Started &raquo;</a>
                <a class="btn btn-lg btn-info" href="/recipe" role="button">View All Recipes &raquo;</a>
                <a class="btn btn-lg btn-success" href="/create" role="button">Create a Recipe &raquo;</a>
            </p>
        </div>
    {% endblock content %}

  
    </div> <!-- /container -->
  

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% block scripts %}
  
    {% endblock scripts %}
</body>
</html>